.contact {

    color: rgb(12, 13, 14);
padding-bottom: 533px;

background-image: url('contact.jpg');
background-repeat: no-repeat;

background-size: cover;
background-position: center;
color: aliceblue;
text-align: center;


}
.contacthead {
    padding-top: 20px;
}