
 


    
    .socialMedia svg {
      color: rgb(255, 255, 255);
      margin: 10px;
      font-size: 70px;
      cursor: pointer;
    
      
    }
    .footer {
      width: 98.7%;
      height: 117px;
      background-color: #121619;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
        
       
      
   padding:10px;
    }
    .footer .pp {
      color: rgb(255, 255, 255);
      
      
      
    }