.Home {
 
    
    
   
    
    color: rgb(255, 255, 255);
    background-color:rgb(255, 255, 255);
    

   left: 0%;
   margin: 0%;


    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
 


    
    
    
    
  }
  
 
  
 
  
  .Home .form-left{
    
    width: 100%;
    
    display: flex;
  
    align-items: left;
    flex-direction: column;
    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
  }
  .Home .form-right{
      flex: 50%;
      height: 49.9%;
      width: 18.1%;
      padding: 5rem;
      position:absolute;
      right: 0;
      
    
     background-color: rgba(21, 130, 149, 0.582);
      
      
  }
  
  .Home .form-right h2{
    font-size: 35px;
  }
  
  
  .Home .form-left{
      flex: 50%;
      height: 70.5%;
      width: 100%;
      padding: 0%;
      position:inherit;
      left: 0;
      
      
    
    
    
  }
  
  @media screen and (min-width: 600px) {
    .Home .form-right {
      padding: 5rem;
      
      
      
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
    font-size: 18px;
  
    
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    
  }
  
  button {
    
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    
    width: 100px;
    color: #7439db;
  }
  
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
    width: 300px;
    
  }
  .button_log1 {
    background: none;
    color: #7439db;
    background-color: white;
    border: none;
    width: 100px;
    cursor: pointer;
    padding-left: 12px;
   
    
  }
  .button_log2 {
    background: none;
    color: #7439db;
    background-color: white;
    border: none;
    width: 100px;
    cursor: pointer;
    padding-left: 12px;
   
    
  }
 