
.register {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url('https://www.beroeinc.com/assets/images/uploads/Talent-migration-can-help-solve-labor_800x450px.jpg');
 
background-repeat: no-repeat;
background-size: cover;
  
 
 
}
.emp_reg {
  

  width: 500px;
  height: 1000px;
  display: flex;
  flex-direction: row;
  min-height:fit-content;
  border-radius: 12px;
  justify-content: center;
  color: rgb(25, 13, 13);
  background: radial-gradient(rgb(235, 239, 239),rgb(87, 180, 199));
  padding: 25px;
  align-self: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 1%;
  margin-bottom: 1%;
 

}

.emp_reg .form1{
  display: flex;
  flex-direction: column;
  align-items: center;

  
  
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.submit_button {
  border: none;
background: linear-gradient(rgb(50, 143, 171),rgb(83, 99, 104));
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  border: none;
}
.closing_button {
  display: flex;
  justify-content:flex-start;
  color: black;
  border: none;
  background : none;
  height: fit-content;
  
  
  
}