.emp_regs {
 display: flex;
 flex-direction: column;
align-content: center;
object-fit: cover;
margin: 1%;




}

 .buttons {
    
   color: #ffffff;
   background: linear-gradient(rgb(50, 143, 171),rgb(83, 99, 104));
    text-align: center;
    border: none;
   
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
    
 


   

    
 }
 .reglogbut {
 border: none;
 border-radius: 5px;
 color: #ffffff;
    background: linear-gradient(rgb(50, 143, 171),rgb(83, 99, 104));
   width: 60%;
   
     


 }
.main {
    background-image: url('https://www.beroeinc.com/assets/images/uploads/Talent-migration-can-help-solve-labor_800x450px.jpg');

    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    


}  
 
   .labels {

   margin-left:50px;
   margin-right: 100px;

 
     }
      .inputs {
    border-radius: 4px;
    
    
        
   
     }
 

 .forms { background: radial-gradient(rgb(235, 239, 239),rgb(87, 180, 199));
   
    align-self: center;
    align-items: center;
    align-content: center;
 
  
 padding: 4%;
   
 }
 .formhead {
   color: #ffffff;
    background: linear-gradient(rgb(50, 143, 171),rgb(83, 99, 104));
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
     
    width: 548px;
  

 }